<html>
<body>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/create-game" method="post">
    <input type="text" placeholder="Game name" name="gameName" width="200"/>
    <select name="gameGenre">
        <option selected disabled>Genre</option>
        <option value="Adventure">Adventure</option>
        <option value="RPG">RPG</option>
        <option value="RTS">RTS</option>
        <option value="FPS">FPS</option>
    </select>
    <select name="gamePlatform">
        <option selected disabled>Platform</option>
        <option value="PC">PC</option>
        <option value="Xbox">Xbox</option>
        <option value="PS4">PS4</option>
        <option value="Wii U">Wii U</option>
    </select>
    <input type="number" placeholder="Release Year" name="gameYear"/>
    <button type="submit">Submit</button>
</form>
<ol>
    {{#games}}
    <li>{{name}} - {{genre}} - {{platform}} - {{releaseYear}}</li>
    {{/games}}
</ol>
</body>
</html>